.consultation {
	min-height: 344px;
	padding-bottom: 80px;
	position: relative;

	&__title {
		font-size: 28px;
		line-height: 1;
		font-weight: 400;
		color: #3a3a3a;
		text-align: center;
	}

	&__icon-wrapper {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 48px;
		background-color: #fff;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 126px;
		height: 102px;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 102px;
		height: 102px;
		border: 1px solid $main-color;
		border-radius: 50%;

		img {
			margin-top: 16px;
		}
	}
}